body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#header{
    display: flex;
   
  
}

.header-part{
    width: 50%;
    padding-left:5%;
  

 
}
.text-color{
    color: orange;
}
.link{
    background-image: linear-gradient(red,yellow);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 15px;
}
h1{
    font-size: 50px;
}

 .header-part img{
    width: 120%;
 }
 #dream-area{
     display: flex;
    
 }
 
 .dream-areapart{
     width: 50%;
     padding-right: 15%;
 }
 .link1{
    background-image: linear-gradient(red,yellow);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 15px;}

   

    .experince-area-part{
        display: flex;
    }
    .experince-area-part h3{
        color: orange;
    }
    .experince-area-part div{
        box-shadow: 5px 7px 50px gray;
        margin: 18px;
    }
    #full-stack{
        border-left: 7px solid;
       border-image: linear-gradient(red,tomato);
       border-image-slice: 1;
       padding: 12px;
    }

    #baby-web{
        border-left: 7px solid;
        border-image: linear-gradient(blue,cyan);
        border-image-slice: 1;
        padding: 12px;
    }
    #experince-area{
        padding: 5%;

    }
    footer p{
        text-align: center;
    }
    #experince-area h1{
        text-align: center;
    }