body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#header{
    display: flex;
 
  
}

.header-part{
    width: 50%;
    padding-left:5%;
}
.text-color{
    color: orange;
}
.link{
    background-image: linear-gradient(red,yellow);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 15px;
}
h1{
    font-size: 50px;
}

 .header-part img{
    width: 120%;
 }